<div class="container" *ngIf="home">
  <div class="header">
    <div class="content">
      <h1>Vaishnavi Kaushal</h1>
      <div class="details">
        <p>Daughter of 'Gopal Kaushal'</p>
      </div>
      <div>
      <button class="btn" (click)="biodata()">Biodata</button>
      <button class="btn"  (click)="photos()">Photos</button>
    </div>
    </div>
  </div>
  
  <!-- <div class="footer">
    <div class="divider"></div>
  </div> -->
</div>
<span *ngIf="biodatas">
  <app-biodata (homePage)="homePage($event)"></app-biodata>
</span>