.carousel-container {
    /* display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 600px;
    margin: 0 auto; */
    text-align: center;
    font-family: 'Georgia', serif;
    color: #FFFFFF; /* White text */
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(images/blackback.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  .image-container {
    width: 100%;
    max-width: 500px;
    overflow: hidden;
  }
  
  img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
  }
  
  .nav-button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    background-color: #2ecc71;
  }
  
  .prev-button {
    margin-right: 10px;
  }
  
  .next-button {
    margin-left: 10px;
  }
  .slideshow-container {
    position: relative;
    width: 100%;
    max-width: 600px; /* Adjust as per your design */
    margin: auto;
    overflow: hidden;
  }
  
  .slideshow-image {
    width: 100%;
    height: auto;
    transition: opacity 1s ease-in-out;
  }
   
  .home-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent; /* Transparent brown background */
    color: white;
    border: rgb(88, 4, 4);
    border-radius: 25px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease, transform 0.10s ease;
    box-shadow:  0 0px 15px rgb(211 39 39 / 32%);
  }
  
  .home-btn:hover {
    background-color: rgb(253, 253, 253); /* Slightly lighter transparent brown on hover */
    transform: scale(1.05);
  }